body{
background:#0b0b0b;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
padding:30px;
}

.app{
width:380px;
background:#111;
border-radius:25px;
padding:25px;
box-shadow:0 25px 70px rgba(0,0,0,.7);
}

h1{
text-align:center;
color:#7FFF00;
}

.subtitle{
text-align:center;
opacity:.7;
}

.card{
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.1);
padding:18px;
border-radius:18px;
margin-top:10px;
text-align:center;
font-size:18px;
}

.booking{
margin-top:25px;
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:20px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
border-radius:10px;
border:none;
background:#222;
color:white;
}

button{
margin-top:15px;
width:100%;
padding:14px;
background:#7FFF00;
border:none;
border-radius:12px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#00c800;
}
